body {
  margin: 0;
}

.HeaderH1 {
  color: white;
  background-color: darkcyan;
  padding: 15px;
}

.TextP {
  font-size: 20px;
}

.proTwoHeader {
  font-family: cursive;
  background-color: rgb(72, 72, 72);
  padding: 15px;
  color: white;
}

.container {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  border: solid 2px rgb(195, 195, 195);
}
